<div class="login">
  <nz-layout class="login__layout">
    <nz-content>

      {{isLoggedIn$ | async}}

        <form
          nz-form
          [nzLayout]="'vertical'"
          [formGroup]="formGroup"
          (ngSubmit)="submit()">

          <nz-form-item class="login__field">
            <nz-form-control nzErrorTip="{{ 'USER.LOGIN.VALIDATIONS.USERNAME_REQUIRED' | translate }}">
              <nz-input-group nzPrefixIcon="user">
                <input
                  nz-input
                  formControlName="userName"
                  placeholder="{{ 'USER.LOGIN.FORM.USERNAME' | translate }}">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="login__field">
            <nz-form-control nzErrorTip="{{ 'USER.LOGIN.VALIDATIONS.PASSWORD_REQUIRED' | translate }}">
              <nz-input-group nzPrefixIcon="lock">
                <input
                  nz-input
                  formControlName="password"
                  type="password"
                  placeholder="{{ 'USER.LOGIN.FORM.PASSWORD' | translate }}">
              </nz-input-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="login__field">
            <nz-form-control>
              <button
                nz-button
                nzType="primary"
                [disabled]="isDisabled">
                {{ 'USER.LOGIN.FORM.LOGIN_ACTION' | translate }}
              </button>
            </nz-form-control>
          </nz-form-item>

        </form>

    </nz-content>
  </nz-layout>
</div>
