<nz-layout>

  <nz-header>

    <ul
      nz-menu
      nzMode="horizontal">

      <li
        (click)="goToStore()"
        nz-menu-item>
        <i nz-icon nzType="shopping"></i>
        {{ 'LAYOUT.MENU.HOME' | translate }}
      </li>

      <li
        nz-submenu
        nzTitle="{{ 'LAYOUT.MENU.CART' | translate }}"
        nzIcon="shopping-cart">
        <ul>
          <li
            *ngFor="let purchase of purchase$ | async; index as index"
            nz-menu-group
            nzTitle="{{ purchase.name }} ({{ purchase.quantity }})">
          </li>
          <li nz-menu-group>
            <ul>
              <li
                (click)="goToCart()"
                nz-menu-item>
                {{ 'LAYOUT.MENU.CART_ACTION' | translate }}
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li
        nz-submenu
        nzTitle="{{ 'LAYOUT.MENU.PROFILE' | translate }}"
        nzIcon="user">
        <ul>
          <li
            nz-menu-group
            nzTitle="{{ userEmail }}">
          </li>
          <li nz-menu-group>
            <ul>
              <li
                (click)="signOut()"
                nz-menu-item>
                {{ 'LAYOUT.MENU.SIGN_OUT_ACTION' | translate }}
              </li>
            </ul>
          </li>
        </ul>
      </li>

    </ul>

  </nz-header>

  <nz-content>
    <div class="layout-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>

</nz-layout>
