<h3 *ngIf="!!(cart$ | async)?.id; else emptyTitle">
  {{ 'PRODUCT.CART.LAYOUT.ORDER_TITLE' | translate: { cartId: (cart$ | async)?.id } }}
</h3>

<ng-template #emptyTitle>
  <h3>{{ 'PRODUCT.CART.LAYOUT.EMPTY_ORDER_TITLE' | translate }}</h3>
</ng-template>

<ul
  nz-list
  [nzDataSource]="[]"
  nzBordered
  nzSize="large">

  <nz-list-header>{{ 'PRODUCT.CART.LAYOUT.PRODUCTS_TITLE' | translate }}</nz-list-header>

  <li
    *ngFor="let purchase of purchase$ | async"
    nz-list-item
    nzNoFlex>

    <ul nz-list-item-actions>
      <nz-list-item-action>
        <a (click)="deleteFromCart(purchase.product_id)">
          {{ 'PRODUCT.CART.LAYOUT.DELETE_ACTION' | translate }}
        </a>
      </nz-list-item-action>
    </ul>

    <span>
      {{ purchase.name }} | {{ purchase.quantity }}
      {{ purchase.quantity === 1
        ? ('PRODUCT.CART.LAYOUT.UNIT' | translate)
        : ('PRODUCT.CART.LAYOUT.UNITS' | translate) }}
    </span>
  </li>

  <nz-list-footer>
    <button
      nz-button
      nzType="primary"
      [disabled]="(purchase$ | async)?.length === 0"
      (click)="completeOrder()">
      {{ 'PRODUCT.CART.LAYOUT.ORDER_ACTION' | translate }}
    </button>
  </nz-list-footer>

</ul>
