<nz-layout>
  <nz-header>
    <div class="logo"></div>
    <ul nz-menu nzMode="horizontal">
      <li nz-menu-item nzSelected>
        <i nz-icon nzType="mail"></i>
        {{ 'LAYOUT.MENU.PURCHASE' | translate }}
      </li>
      <li nz-submenu nzTitle="Perfil" nzIcon="user">
        <ul>
          <li nz-menu-group nzTitle="{{ sessionEmail }}"></li>
          <li nz-menu-group>
            <ul>
              <li nz-menu-item (click)="signOut()">Cerrar sesión</li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-header>

  <nz-content>
    <div class="inner-content">
      <router-outlet></router-outlet>
    </div>
  </nz-content>
</nz-layout>
