<div class="login">

  <nz-layout class="login__layout">
    <nz-content>

      <nz-page-header
        nzTitle="{{ 'APP_TITLE' | translate }}"
        class="login__title"></nz-page-header>

      <form
        nz-form
        [nzLayout]="'horizontal'"
        [formGroup]="formGroup"
        (ngSubmit)="submit()">

        <nz-form-item class="login__field">
          <nz-form-control
            nzErrorTip="{{ 'AUTH.LOGIN.VALIDATIONS.EMAIL_REQUIRED' | translate }}">
            <nz-input-group nzPrefixIcon="user">
              <input
                nz-input
                formControlName="email"
                placeholder="{{ 'AUTH.LOGIN.FORM.EMAIL' | translate }}">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="login__field">
          <nz-form-control nzErrorTip="{{ 'AUTH.LOGIN.VALIDATIONS.PASSWORD_REQUIRED' | translate }}">
            <nz-input-group nzPrefixIcon="lock">
              <input
                nz-input
                formControlName="password"
                type="password"
                placeholder="{{ 'AUTH.LOGIN.FORM.PASSWORD' | translate }}">
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="login__field">
          <nz-form-control>
            <button
              nz-button
              nzType="primary"
              [disabled]="isDisabled">
              {{ 'AUTH.LOGIN.FORM.LOGIN_ACTION' | translate }}
            </button>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item
          *ngIf="!(working$ | async) && !(completed$ | async) && !!(message$ | async)"
          class="login__field">
          <span class="login__field--error">{{ message$ | async }}</span>
        </nz-form-item>

        <div
          *ngIf="(working$ | async) && !(completed$ | async)"
          class="login--loading">
          <nz-spin nzSimple></nz-spin>
        </div>

      </form>

    </nz-content>
  </nz-layout>

</div>
