.login
  display: flex
  align-items: center
  justify-content: center
  height: 100vh
  padding: 20px

  .login__layout
    padding: 60px 30px
    max-width: 400px

    .login__field
      margin-bottom: 30px
      &:last-child
        margin-bottom: 0
